<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CryptoPP Dynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CryptoPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>crypttest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A95E0A401A94D72F00B82691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9AB593B1A95027000D74495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9AB594A1A95029200D74495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9E9EF851A94E1A90097AED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9E9EF9B1A94E3DE0097AED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
